@{
    ViewBag.Title = "News";

}
@if (TempData["Subscribe"] != null)
{
    if ((bool)TempData["Subscribe"] == true)
    {
        <input type="hidden" id="subscribeSuccess" />
    }
    else
    {
        <input type="hidden" id="subscribeError" />

    }
}
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="switch">
                    <ul class="breadcrumbs-list">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index" title="Go to the frontpage">Home</a>
                        </li>
                        <li class="img-item">
                            <img src="~/assets/images/arrow-right.svg"
                                 alt="" />
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="news" asp-action="index" title="Go to News">News</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <form class="search-field" action="">
                    <input type="search"
                           class="search-field_input"
                           placeholder="Search for news"
                           value="" />
                </form>
            </div>
            <div class="col-12">
                <div class="title">
                    <h3>News</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a asp-controller="news" asp-action="detail"
                       title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/istock-1395275669-800x532.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="" title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/ms-sthlm-corp-12-1170x1425px-800x974.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="" title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/msa-building-square-1200x1200.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="https://www.mannheimerswartling.se/en/publications-and-newsletter/24623/"
                       title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/istock-1395275669-800x532.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="" title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/ms-sthlm-corp-12-1170x1425px-800x974.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="" title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/msa-building-square-1200x1200.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="https://www.mannheimerswartling.se/en/publications-and-newsletter/24623/"
                       title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/istock-1395275669-800x532.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="" title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/ms-sthlm-corp-12-1170x1425px-800x974.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="" title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/msa-building-square-1200x1200.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="https://www.mannheimerswartling.se/en/publications-and-newsletter/24623/"
                       title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/istock-1395275669-800x532.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="" title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/ms-sthlm-corp-12-1170x1425px-800x974.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new">
                    <a href="" title="New EU proposals for PSD3 and Open Finance">
                        <img style="width: 400px; object-fit: contain"
                             src="https://www.mannheimerswartling.se/app/uploads/2023/06/msa-building-square-1200x1200.jpg"
                             class="responsive-img postentry_thumbnail wp-post-image" />
                        <h2 class="postentry_title">
                            New EU proposals for PSD3 and Open Finance
                        </h2>
                    </a>
                    <time datetime="2023-06-30 12:26:42">30 June 2023</time>
                </div>
            </div>
        </div>
    </div>
</section>
@section Script{
    <script>
        $(document).ready(function () {
            if ($("#subscribeSuccess").length) {
                toastr["success"]("Successful operation!", "Hello, you will now receive updates about the page")
            }
            else if ($("#subscribeError").length) {
                toastr["error"]("An error occurred!", "This Email is already in use or due to another reason...")
            }

        })
    </script>
}