#contact {
    padding: 50px;

    .title {
        text-align: center;
        overflow: hidden;
        padding: 30px;

        h3 {
            font-family: Caslon224Std-Book, times, georgia, serif;
            font-size: 4rem;
            overflow: hidden;
        }
    }

    .inputs {
        margin-bottom: 40px;

        label {
            font-weight: 500;
        }

        input {
            border: none;
            border-bottom: 1px solid #999;
            color: #000;
            font-family: MonumentGrotesk-Regular, helvetica, arial, sans-serif;
            font-size: 0.8rem;
            letter-spacing: .5px;
            padding: 14.5px 26px 14.5px 6px;
            width: 100%;

            &:focus {
                border-color: #000;
                outline: none;
            }
        }

        select {
            border: none;
            border-bottom: 1px solid #999;
            color: #000;
            font-family: MonumentGrotesk-Regular, helvetica, arial, sans-serif;
            font-size: 0.8rem;
            letter-spacing: .5px;
            padding: 14.5px 26px 14.5px 6px;
            width: 100%;

            &:focus {
                border-color: #000;
                outline: none;
            }
        }

        textarea {
            border: none;
            border-bottom: 1px solid #999;
            color: #000;
            font-family: MonumentGrotesk-Regular, helvetica, arial, sans-serif;
            font-size: 0.8rem;
            letter-spacing: .5px;
            padding: 14.5px 26px 14.5px 6px;
            width: 100%;

            &:focus {
                border-color: #000;
                outline: none;
            }
        }
    }

    .info {
        text-align: center;
    }



    .submit_button {
        background-color: transparent;
        border: 1px solid #999;
        border-radius: 2em;
        box-shadow: none;
        color: #000;
        cursor: pointer;
        display: inline-block;
        font-family: MonumentGrotesk-Regular, helvetica, arial, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .5px;
        line-height: 1;
        padding: 1.5em 2em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease;

        &:hover {
            background-color: black;
            color: white;
        }
    }

}