#expertise {
    padding: 50px;
    border-bottom: 1px solid black;
    .title {
        text-align: center;
        overflow: hidden;
        padding: 30px;
        h3 {
            font-family: Caslon224Std-Book, times, georgia, serif;
            font-size: 4rem;
            overflow: hidden;
        }
    }
    .preamble-large{
        font-family: adobe-caslon-pro,times,georgia,serif;
        font-size: 1.8rem;
        line-height: 1.4;
    }
    .expertise_buttons {
        text-align: center;
        margin-top: 50px;
        a {
            background-color: transparent;
            border: 1px solid #999;
            border-radius: 0;
            color: #000;
            cursor: pointer;
            display: inline-block;
            font-family: MonumentGrotesk-Regular, helvetica, arial, sans-serif;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: .5px;
            line-height: 1;
            min-width: 246px;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            transition: 0.5s all;
            &:hover{
                background-color: #000;
                border-color: #000;
                color: #fff;
            }
        }
    }
}