#footer {
    background-color: black;
    height: max-content;
    color: white;

    .wrapper {
        padding: 40px 50px 40px;
        color: #fff;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;

        .title {
            h2 {
                line-height: 1.07;
                font-size: 50px;
                font-weight: 100;
                margin-bottom: 20px;
            }

            p {
                line-height: 1.4;
                letter-spacing: .5px;
                line-height: 1.5;
                font-size: 20px;
            }

            a {
                display: block;
                background-color: transparent;
                border: 1px solid #d8d8d8;
                border-radius: 2em;
                color: #fff;
                padding: 1.5em 2em;
                max-width: 370px;
                min-width: 280px;
                text-transform: uppercase;
                width: 100%;
                margin: 50px auto 0;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    background-color: #fff;
                    color: #000;
                }
            }
            button {
                display: block;
                background-color: transparent;
                border: 1px solid #d8d8d8;
                border-radius: 2em;
                color: #fff;
                padding: 1.5em 2em;
                max-width: 370px;
                min-width: 280px;
                text-transform: uppercase;
                width: 100%;
                margin: 50px auto 0;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    background-color: #fff;
                    color: #000;
                }
            }


            .subscribe {
                background-color: #000;
                background-size: 26px 26px;
                border: none;
                border-bottom: 1px solid #999;
                color: #ffffff;
                font-family: MonumentGrotesk-Regular, helvetica, arial, sans-serif;
                font-size: 0.8rem;
                letter-spacing: .5px;
                padding: 14.5px 26px 14.5px 6px;
                width: 30%;
                text-align: center;
                margin-top: 20px;

                &:focus {
                    background-color: #000;
                    outline: none;
                    border-bottom: 1px solid #ffffff;
                }

            }
        }

        .footer-bottom {
            margin-top: 50px;

            .info {
                p {
                    font-size: 14px;
                    letter-spacing: .5px;
                }
            }

            .social-net {
                display: flex;
                justify-content: center;
                margin-top: 20px;

                div {
                    margin: 0 10px;

                    svg {
                        color: #ffffff;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}