#news {
    padding: 50px;
    border-bottom: 1px solid black;

    .title {
        text-align: center;
        overflow: hidden;
        padding: 30px;

        h3 {
            font-family: Caslon224Std-Book, times, georgia, serif;
            font-size: 4rem;
            overflow: hidden;
        }
    }

    .new {
        position: relative;
        border-right: 1px solid gray;
        margin-bottom: 20px;

        a {
            color: #000;
            display: block;
            text-decoration: none;
            transition: opacity .3s ease;

            img {
                display: block;
                width: 100%;
            }

            h2 {
                margin-top: 40px;
                font-size: 1.6rem;
                letter-spacing: .5px;
                line-height: 1.1428571429;
                overflow: hidden;
            }
        }



        time {
            color: #999;
            font-family: MonumentGrotesk-Regular, helvetica, arial, sans-serif;
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: .75px;
            text-transform: uppercase;
        }
    }

    .news_buttons {
        text-align: center;
        margin-top: 50px;

        a {
            background-color: transparent;
            border: 1px solid #999;
            border-radius: 0;
            color: #000;
            cursor: pointer;
            display: inline-block;
            font-family: MonumentGrotesk-Regular, helvetica, arial, sans-serif;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: .5px;
            line-height: 1;
            min-width: 246px;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            transition: 0.5s all;

            &:hover {
                background-color: #000;
                border-color: #000;
                color: #fff;
            }
        }
    }

    .search-field_input {
        background: transparent url("../../../assets/images/search-icon.svg") no-repeat right 50%;
        background-size: 26px 26px;
        border: none;
        border-bottom: 1px solid #999;
        color: #000;
        font-family: MonumentGrotesk-Regular, helvetica, arial, sans-serif;
        font-size: 0.8rem;
        letter-spacing: .5px;
        padding: 14.5px 26px 14.5px 6px;
        width: 100%;

        &:focus {
            border-color: #000;
            outline: none;
        }
    }
}