#expert{
    padding: 50px;
    .title {
        text-align: center;
        overflow: hidden;
        padding: 30px;

        h3 {
            font-family: Caslon224Std-Book, times, georgia, serif;
            font-size: 4rem;
            overflow: hidden;
        }
    }

    .titles_expertice{
        font-family: MonumentGrotesk-Regular,helvetica,arial,sans-serif;
        font-size: 1.2rem;
        letter-spacing: .5px;
        line-height: 1.5;
    }
    .image{
        img{
            object-fit: contain;
            height: auto;
            margin-bottom: 20px;
            margin-top: 20px;
            max-width: 100%;
        }
    }
  .practice_group{
    .practice_title{
        text-align: center;
        h4{
            overflow: hidden;
        }
    }
    .practice_area{
        ol{
            li{
                text-decoration: underline;
            }
        }
    }
  }
}