* {
    margin: 0;
    padding: 0;
}

#blog {
    .wrapper {
        padding: 160px 50px 98px;
        display: flex;

        .left {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .right {
            width: 50%;
            padding-left: 30px;
            margin-left: 30px;
            border-left: 1px solid #999;

            span {
                color: #999;
            }

            h1 {
                font-family: 'Times New Roman', Times, serif;
                font-size: 50px;
                font-weight: 100;
                margin-top: 20px;
            }

            .social-net {
                display: flex;
                margin-top: 30px;

                div {
                    margin: 0 10px;

                    svg {
                        color: #999;
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .desc {
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.55;

                ul {
                    list-style: disc outside;
                    padding: 20px;
                    column-count: 2;
                }
            }
        }
    }
}